body {
	background-color: lightgreen;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: Georgia;
	font-style: italic; /* Cursive */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
}

nav{
	float: left;
	margin: 0px 0px 0px 27px; /* top right bottom left */
	border-radius: 20px;
	padding: 0px 50px 0px 50px;
	background: rgba(54, 25, 25, .3);
	border: 2px black solid;
}

nav a{
	color:#00FFFF;
	text-decoration: none;
}

nav a:hover{ /* How it looks when you hover with muose */
	color:blue;
}

#current{
	text-decoration: underline; 
}
.DOG{
padding: 10% 42% 0% 42%;
}
.MONSTER{
background-image: url("GIF.gif");
}
.navLink{
	position:relative;
}

.container{
position:relative;

	width: 1050px;
	margin: 19px 0px 0px 260px; /* top right bottom left */
	border-radius: 20px;
	padding: 1px 0px 20px 0px;
	color: #00FFFF;
	background: rgba(54, 25, 25, .3);
	border: 2px black solid;


}
.right{
	float:left;
	clear:left;
	width: 195px;
	height: 288px;
	margin: 19px 0 0px 27px; /* top right bottom left */
	border-radius: 20px;
	background-image: url("GIF.gif");
	background-size: 195px 288px;
	border: 2px black solid;
}

.background{
	background-image: url("HD BILD.jpg");
	background-size: cover;
	background-repeat: no-repeat;
} 
